@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Over+the+Rainbow&display=swap');



h1 {
    font-family: 'Knewave', cursive;
    font-size:110px;
}

h2 {
    font-family: 'Over the Rainbow', cursive;
}

header {
    text-align:center;
    line-height:0.05;
    position: absolute;
    top:100px;
    width:100%;
}

header nav a{
    margin:20px 25px;
    color:lightpink;
    font-size:28px;
}

a {
    text-decoration:none
}

#socialMedia{
    float:right;
    position:relative;
    font-size:32px;
    bottom:100px;
}

#socialMedia a{
    margin:0 20px;
}

.male{
    color:rgb(0, 3, 148);
}

.female{
    color:rgb(225, 2, 111);
}

Img {
    position: center;
    height:10%;
    border: 15px solid black;
    height: 50%;
    margin-top:320px;
    
}
