@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Over+the+Rainbow&display=swap');
*{
    padding:0;
    margin:0;
}

#socialMedia {
    color: rgb(0, 3, 148);
    text-shadow: 3px 3px 3px rgb(225, 2, 111, 0.3);
    font-size:30px;
}

a{
    text-decoration:none;

}


h1{
    font-family:Knewave;
    font-size:90px;
}

h2{
    font-family:Over the Rainbow;
    color:rgb(230,230,230);
    font-weight:300;
}

header{
    text-align:center;
    line-height:1.1;
}

nav{
    text-align:center;
    font-size: 50px;

}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.male{
    color:rgb(0, 3, 148);
}

.female{
    color:rgb(225, 2, 111);
}





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(225, 2, 111, 0.8);
    color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenavmale {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 3, 148, 0.8);
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}


section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

    section img {
        position: absolute;
        border: 15px solid black

    }

.firstImg {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-delay: 4s;
}

.secondImg {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-delay: 2s;
}

.thirdImg {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-delay: 1s;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}